.FeedRatesPage {
  margin-bottom: 20px;
}

.FeedRatesPage label {
  font-weight: bold;
}

.FeedRatesPage input {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}

.FeedRatesPage button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.FeedRatesPage button:hover {
  background-color: #45a049;
}
