/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set the font and background colors for the entire page */
body,
html {
  font-family: "Roboto Mono", monospace;
  font-size: 100%;
  /* background-color: #222; */
  min-height: 100vh;
  min-width: 100vw;
}

/* Main styles */
.home {
  /* background-color: #222; */
  /* color: #fff; */
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 18px;
}

.title {
  text-decoration: none;
}

.title:visited {
  color: blue;
}

.nav {
  margin-top: 20px;
  margin-bottom: 30px;
}

.nav ul li {
  list-style: none;
  padding: .25rem;
}

.links {
  display: inline-block;
  margin-right: 10px;
  /* color: #fff; */
  text-decoration: none;
  padding: 2px 5px;
  text-transform: uppercase;
}

.links:hover {
  color: #4caf50;
}

.links:visited {
  color: blue;
}

.links.active {
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid green;
  border-radius: 2px;
}

.links.active:hover {
  background-color: #45a049;
}

/* Dark theme */
body.dark {
  background-color: #111;
  color: #fff;
}

.machining-app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: #222;
  color: #fff;
}

button {
  background-color: #4caf50;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
}

/* Table styles */
.conversion-table {
  display: grid;
  margin: 0 auto;
  max-width: 800px;
  table-layout: fixed;
  width: 100%;
}

.conversion-table th,
.conversion-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #555;
}

.conversion-table th {
  background-color: #222;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.conversion-table .column {
  width: 33%; /* Adjust the width as needed */
}

.conversion-table tr:hover {
  background-color: #444;
}

@media screen and (max-width: 768px) {
  .machining-app {
    max-width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .machining-app {
    max-width: 250px;
    font-size: 14px;
  }
}
