/* toggleDark.css */

.toggle-container {
  position: fixed;
  top: 20px;
  right: 70px;
  z-index: 1000;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 17px;
  transition: background-color 0.2s;
}

.toggle:hover {
  background-color: #999;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  left: -25px;
  background-color: #fff;
  transition: transform 0.2s, background-color 0.2s;
  transform: translateX(26px);
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "🔆"; 
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #333;
  border-radius: 50%;
  transition: transform 0.2s, background-color 0.2s;
  /* transform: translateX(0);  */
  bottom: 4px;
}

input:checked + .slider {
  background-color: #333; /* Set the background color for the sun icon */
  transform: translateX(26px); 
}

input:checked + .slider:before {
  /* transform: translateX(26px); */
  content: "🌙"; 
  background-color: #fff;
}
