body {
  --color-background: #a6a6a6;
  --color-foreground: #1f2023;
  color: black;
}

body.dark {
  --color-background: #1f2023;
  --color-foreground: #a6a6a6;
}

@media (prefers-color-scheme: dark) {
  body {
  --color-background: #1f2023;
  --color-foreground: #a6a6a6;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
